<div class="span8 hero-unit">
    <h1>Practices</h1>
    <h2>(Coming soon)</h2>
    <h3>This page will show drills that were done in practice for each day.</h3>
    <p>
        Ever wanted to ask you kid about how practice was but weren't sure what specific questions to ask (kind of like school)?
        Here you'll be able to see all drills/plays that were done in practice so you can ask better questions about what 
        they did and keep up with the team!
    </p>
</div>