@model MichelottiPlaybook.Models.HrdIdentityProvider

<div>
    <a href="@Model.LoginUrl"><img src="@Model.ImageUrl" /></a>
    <a href="@Model.LoginUrl" class="btn btn-primary login-button">Sign in with @Model.Name</a>
</div>