<div class="row-fluid">
    <div class="span9">
        <div class="hero-unit">
            <h1>Sharks / HC Elite Playbook</h1>
            <p>This site is the repository for the Sharks/HC Elite Playbook.</p>
            <p>It contains our Playbook, Practice agendas, and off-season individual workouts/drills.</p>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->

