<div class="container">
    <div class="page-header">
        <h1>
            Workouts
            <small>
                You want to maintain your elite status as a member of the best Travel basketball team in Howard County?
                This section contains drills to improve your game in the off-season.
            </small>
        </h1>
    </div>

    <div class="row-fluid">
        <p>
            We have both @Html.ActionLink("Guard workouts", "Guard", "Workouts") and @Html.ActionLink("Big Man workouts", "BigMan", "Workouts"). 
            On each screen most of the drills will link to a detailed video of the drill executed properly (more videos coming). 
            You will already be familiar with many of the drills from practice but the videos are key for remembering proper technique 
            for the drills you already know, and teaching proper technique for the drills that are new for you.
        </p>

        <p>
            The workouts shown can (and should) be varied. The Full Drill Catalog is available from the navigation menu above.
            You can substitute drills from the same category.
        </p>
        <p>
            You will not always have a rebounder so on shooting drills, get your own rebound, and then spin the ball out to yourself for your next shot.
        </p>

        <h3>Emphasis for Guards</h3>
        <ul>
            <li>
                <strong>Ball Handling</strong> - We need our guards to focus on improving their ball handling - particularly their off-hand (that's your LEFT hand if you're right handed!).
                Eyes up during all ball handling drills.
            </li>
            <li>
                <strong>Form Shooting</strong> - In order to become a truly great outside shooter, you must focus on FORM shooting first and foremost. Focus on one-handed form 
                shooting before going to more advanced drills.
            </li>
        </ul>
            
        <h3>Emphasis for Big Men</h3>
        <ul>
            <li>
                <strong>Lay ups, Lay ups, Lay ups</strong> - We must be able to rely on our big men to
                consistently make layups. I have no idea who this will be - but whoever makes their layups most consistently WILL lead our big men in 
                playing time this season. If you want this to be you: <em>PRACTICE</em>! Your #1 drills should be the <a href="/Workouts/post#mikan-drill">Mikan Drill</a> and 
                the <a href="/Workouts/ball-handling#x-drill">X-Drill</a>.
            </li>
            <li>
                <strong>Ball Handling</strong> - This coming season, our big men are going to be asked to handle the ball a lot more out on the wing during the half-court offense.
                This does <em>not</em> mean you have to have amazing crossovers and be able to break the press - that is primarily the job of our guards. The focus needs to
                be on catching the ball on the wing, squaring up in a triple threat, and being able to jab step and drive to either side.
            </li>
        </ul>
        
    </div>
</div>